.headerContainer {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem 2rem;

  align-items: center;
  /* gap: 1rem; */
  padding: 0 1rem;
}
.menuButton {
  justify-self: start;
}
.logoSign {
  justify-self: center;
}

.themeSwicherButton {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;
  justify-items: end;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;

  padding: 0;
  background: var(--main-bg);
  cursor: pointer;
  /* border-radius: 50%; */
}
.instagramButton {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: 0;
  justify-items: end;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;

  padding: 0;
  background: var(--main-bg);
  cursor: pointer;
  /* border-radius: 50%; */
}

.themeSwicherButton svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
.instagramButton svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}
